[submodule "software/components/esp32-MPU-driver"]
	path = software/components/esp32-MPU-driver
	url = https://github.com/natanaeljr/esp32-MPU-driver.git
[submodule "software/components/I2Cbus"]
	path = software/components/I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus.git
[submodule "software/components/hw_motors"]
	path = software/components/hw_motors
	url = git@github.com:an-dr/hw_motors.git
[submodule "software/components/ControlCallbacks"]
	path = software/components/ControlCallbacks
	url = git@github.com:an-dr/ControlCallbacks.git
[submodule "software/components/SharedVirtualRegisters"]
	path = software/components/SharedVirtualRegisters
	url = git@github.com:an-dr/SharedVirtualRegisters.git
